.menu__list {
  min-width: 224px;
  display: flex;
  flex-direction: column;
  max-height: min((100vh - 96px) - 60px, 734px);
  min-height: 100px;
  padding-top: 8px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  .menu__item {
    margin-left: 0;
  }
}

.menu__popper {
  padding-bottom: 8px;
}

.menu__header {
  height: 50px;
  font-weight: bold;
  font-size: 1.6rem;
}

.menu__body {
  overflow-y: auto;
}

.menu__item {
  width: 100%;
  justify-content: flex-start;
  border-radius: 0;
  padding: 11px 16px;
  line-height: 1.8rem;
  font-weight: 600;
  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}
